<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CG.Communication.PLC.MITSUBISH.Service.FXPLCServiceConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CG.Communication.PLC.MITSUBISH.Service.FXPLCServiceConfig>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PLCConfigFile" serializeAs="String">
                <value>FXSeriesConfig.xml</value>
            </setting>
        </CG.Communication.PLC.MITSUBISH.Service.FXPLCServiceConfig>
    </userSettings>
</configuration>