<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding0">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="NewBehavior0" name="CG.Communication.PLC.MITSUBISH.Service.FXSVCService">
                <endpoint address="" binding="netTcpBinding" bindingConfiguration="NewBinding0"
                    name="ser" contract="CG.Communication.PLC.MITSUBISH.Service.IFXService" />
            </service>
        </services>
    </system.serviceModel>
</configuration>